flows.json
[
    {
        "id": "3f49aa6d7b40d4f8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5ac0628603fc469a",
        "type": "subflow",
        "name": "clicker 1-2-3-4",
        "info": "",
        "category": "function",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": [
                    {
                        "id": "a1ee78819339e67e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 930,
                "y": 40,
                "wires": [
                    {
                        "id": "9c938c7f292d0423",
                        "port": 0
                    }
                ]
            },
            {
                "x": 995,
                "y": 40,
                "wires": [
                    {
                        "id": "9c938c7f292d0423",
                        "port": 1
                    }
                ]
            },
            {
                "x": 1050,
                "y": 40,
                "wires": [
                    {
                        "id": "9c938c7f292d0423",
                        "port": 2
                    }
                ]
            },
            {
                "x": 1105,
                "y": 40,
                "wires": [
                    {
                        "id": "9c938c7f292d0423",
                        "port": 3
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "clicker 1,2,3,4",
            "version": "0.0.1",
            "author": "ftpvanmaanen@gmail.com",
            "desc": "1..4 clicks",
            "keywords": "node-red, click detect, 1-2-3-4",
            "license": "Apache-2.0"
        },
        "color": "#ff66aa",
        "inputLabels": [
            "esphome relais"
        ],
        "outputLabels": [
            "1 click",
            "2 clicks",
            "3 clicks",
            "4 clicks"
        ],
        "icon": "font-awesome/fa-hand-o-down"
    },
    {
        "id": "9fc8709bfaaacb42",
        "type": "junction",
        "z": "5ac0628603fc469a",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "9c938c7f292d0423",
                "af91d557e7e62181"
            ]
        ]
    },
    {
        "id": "73e5d88e72f2cde4",
        "type": "trigger",
        "z": "5ac0628603fc469a",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 80,
        "wires": [
            [
                "9c0da3cdf48eee94"
            ]
        ]
    },
    {
        "id": "9c0da3cdf48eee94",
        "type": "change",
        "z": "5ac0628603fc469a",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "foo",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 140,
        "wires": [
            [
                "9fc8709bfaaacb42"
            ]
        ]
    },
    {
        "id": "9c938c7f292d0423",
        "type": "switch",
        "z": "5ac0628603fc469a",
        "name": "number off presses",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 600,
        "y": 160,
        "wires": [
            [],
            [],
            [],
            []
        ],
        "info": "Just expand the flow.count to how ever many\npresses you want/need."
    },
    {
        "id": "a1ee78819339e67e",
        "type": "switch",
        "z": "5ac0628603fc469a",
        "name": "filter \"unavailable\"",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "unavailable",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 80,
        "wires": [
            [
                "af91d557e7e62181"
            ]
        ],
        "outputLabels": [
            "unavailable"
        ],
        "info": "Just expand the flow.count to how ever many\npresses you want/need."
    },
    {
        "id": "af91d557e7e62181",
        "type": "counter",
        "z": "5ac0628603fc469a",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": null,
        "upper": null,
        "mode": "increment",
        "outputs": "1",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "73e5d88e72f2cde4"
            ]
        ]
    },
    {
        "id": "63153810c50ac187",
        "type": "inject",
        "z": "3f49aa6d7b40d4f8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 20,
        "wires": [
            [
                "9305f93d3d423dc1"
            ]
        ]
    },
    {
        "id": "69228d66cfeb9d5f",
        "type": "debug",
        "z": "3f49aa6d7b40d4f8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "9305f93d3d423dc1",
        "type": "subflow:5ac0628603fc469a",
        "z": "3f49aa6d7b40d4f8",
        "name": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "69228d66cfeb9d5f"
            ],
            [
                "cfb8713ac1858b07"
            ],
            [
                "54bdf23990137a80"
            ],
            [
                "b91127f7f310c028"
            ]
        ]
    },
    {
        "id": "cfb8713ac1858b07",
        "type": "debug",
        "z": "3f49aa6d7b40d4f8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 60,
        "wires": []
    },
    {
        "id": "54bdf23990137a80",
        "type": "debug",
        "z": "3f49aa6d7b40d4f8",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "b91127f7f310c028",
        "type": "debug",
        "z": "3f49aa6d7b40d4f8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 140,
        "wires": []
    }
]